.[a-z]*
.[A-Z]*
config/database.yml
uuid.state
config/*.local
config/database.yml
config/queuetastic.yml
config/code_template.erb
RIDE*

log/*.log
log/*

log/mongrel_debug

db/*.sqlite3

README.rails_editor

vendor/plugins/
script/editor
script/ride
script/ride-console

tasks/
tasks/ride.rake
tasks/rspec.rake

bin/ami_proxy/log/*
bin/ami_proxy/log/*.log
