<ul>
  <li>
  <%= link_to 'Dashboard', :controller => 'start', :action => 'index' %>
  </li>
  <li>
    <%= link_to 'Monitor', :controller => 'live_view', :action => 'index' %>
  </li>
  <li>
    <%= link_to 'Reports', :controller => 'report', :action => 'index' %>
  </li>
  <li>
  <%= link_to 'Admin', {:controller => 'admin', :action => 'index'}, :class => 'active' %>
  </li>
</ul>

