<p>
  <h2>Admin Panel</h2>
</p>

<ul>
  <li>
    <%= link_to 'Report Settings', {:controller => 'admin', :action => 'show_settings'} %>
  </li>
  <li>
    <%= link_to 'Agents', agents_path %>
  </li>
  <li>
    <%= link_to 'Agent Groups', groups_path %>
  </li>
  <li>
    <%= link_to 'Back', :controller => 'admin', :action => 'index' %>
  </li>
</ul>
