<p>
  <h2>Dashboard</h2>
</p>

<ul>
  <li>
    <a href='/' title='Dashboard'>Dashboard</a>
  </li>
  <li>
    <a href='/live_view' title='Monitor'>Monitor</a>
  </li>
  <li>
    <a href='/report' title='Reports'>Reports</a>
  </li>
  <li>
    <a href='/settings' title='Admin'>Settings</a>
  </li>
</ul>
