<p>
  <h2>Settings</h2>
</p>

<ul>
  <li>
    <%= link_to 'Modify Settings', {:controller => 'settings', :action => 'edit_settings'} %>
  </li>
  <li>
    <%= link_to 'Edit Agents', agents_path %>
  </li>
  <li>
    <%= link_to 'Edit Agent Groups', groups_path %>
  </li>
  <li>
    <%= link_to 'Settings', :controller => 'settings', :action => 'index' %>
  </li>
</ul>
