<p>
  <h2>Settings</h2>
</p>

<ul>
  <li>
    <a href='/settings/edit_settings' title='Edit Settings'>Modify Settings</a>
  </li>
  <li>
    <a href='/agents' title='Monitor'>Edit Agents</a>
  </li>
  <li>
    <a href='/groups' title='Reports'>Edit Groups</a>
  </li>
</ul>
